<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="navigation-bar mb-3 d-flex gap-2">
    <button mat-button
            [disabled]="!canGoBack()"
            (click)="goBack()"
            class="back-button">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>

    <button mat-button [matMenuTriggerFor]="newMenu" class="new-button">
      <mat-icon>add</mat-icon>
      New
    </button>

    <button mat-button (click)="openFileUpload()">
      <mat-icon>upload</mat-icon>
      Upload
    </button>

    <button mat-button
        (click)="toggleMultiSelectMode()"
        class="multi-select-button">
      <mat-icon>{{ isMultiSelectMode ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
      {{ isMultiSelectMode ? 'Deselect' : 'Select' }}
    </button>

    <button mat-button [disabled]="!selectedNode" (click)="rename()">
      <mat-icon>edit</mat-icon>
      Rename
    </button>

    <button mat-button [disabled]="!canDelete()" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Delete {{ selectedNodes.size > 0 ? '(' + selectedNodes.size + ')' : '' }}
    </button>

    <div class="breadcrumb-nav mb-3">
      <div class="breadcrumb-list">
        <ng-container *ngFor="let crumb of breadcrumbs; let last = last; let i = index">
          <a href="#"
             *ngIf="!last"
             (click)="$event.preventDefault(); navigateToBreadcrumb(i)"
             class="breadcrumb-item">
            {{ crumb.name }}
          </a>
          <span *ngIf="last" class="breadcrumb-item current">{{ crumb.name }}</span>
          <span *ngIf="!last" class="separator">/</span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="tree-container">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="onDrop($event)">
      <!-- For Files -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="file-node">
        <div class="node-content"
            [class.selected]="isMultiSelectMode ? selectedNodes.has(node) : selectedNode === node"
            (click)="isMultiSelectMode ? toggleNodeSelection(node, $event) : selectNode(node)">
          <mat-checkbox *ngIf="isMultiSelectMode"
                      [checked]="selectedNodes.has(node)"
                      (click)="$event.stopPropagation()"
                      (change)="selectedNodes.has(node) ? selectedNodes.delete(node) : selectedNodes.add(node)">
          </mat-checkbox>
          <mat-icon class="me-2 file-icon">description</mat-icon>
          <span>{{ node.name }}</span>
          <span class="ms-2 text-muted">({{ formatFileSize(node.size) }})</span>
        </div>
      </mat-tree-node>

      <!-- For Folders -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                    matTreeNodePadding
                    class="folder-node"
                    cdkDrag
                    [class.selected]="isMultiSelectMode ? selectedNodes.has(node) : selectedNode === node"
                    (click)="isMultiSelectMode ? toggleNodeSelection(node, $event) : selectNode(node)"
                    (dblclick)="onFolderDoubleClick(node)">
        <div class="node-content">
          <mat-checkbox *ngIf="isMultiSelectMode"
                      [checked]="selectedNodes.has(node)"
                      (click)="$event.stopPropagation()"
                      (change)="selectedNodes.has(node) ? selectedNodes.delete(node) : selectedNodes.add(node)">
          </mat-checkbox>
          <mat-icon class="me-2 folder-icon">folder</mat-icon>
          <span class="folder-name">{{ node.name }}</span>
        </div>
      </mat-tree-node>

    </mat-tree>
  </div>
</div>

<mat-menu #newMenu="matMenu">
  <button mat-menu-item (click)="createNewFolder()">
    <mat-icon>create_new_folder</mat-icon>
    <span>New Folder</span>
  </button>
  <button mat-menu-item (click)="createNewFile()">
    <mat-icon>note_add</mat-icon>
    <span>New File</span>
  </button>
</mat-menu>

<app-file-upload-overlay *ngIf="uploadService.showOverlay$ | async"></app-file-upload-overlay>